# Ignore all files in input, models, and output folders except .gitkeep
input/*
!input/.gitkeep

models/*
!models/.gitkeep

output/*
!output/.gitkeep

models_list.json

# Python cache artifacts
__pycache__/